In [114]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
# from matplotlib import cm

In [138]:
df=pd.read_csv('results_count.csv')
df=df.drop(df.columns[0], axis=1)
df.head()

,element_count,column_count,array_time,pandas_df_time,pandas_df_compute,spark_df_time,spark_df_compute
0,1000,1,0.000040,0.000052,0.000732,0.062896,0.186006
1,1000,10,0.000032,0.000085,0.000911,0.040850,0.168093
2,1000,100,0.000032,0.000096,0.001420,0.067825,0.177063
3,1000,1000,0.000031,0.000101,0.005301,0.210490,0.546671
4,10000,1,0.000169,0.000099,0.000993,0.176808,0.133336

In [139]:
df['row_count']=df['element_count']/df['column_count']
df.sort_values(by=['row_count', 'column_count'])

,element_count,column_count,array_time,pandas_df_time,pandas_df_compute,spark_df_time,spark_df_compute,row_count
3,1000,1000,0.000031,0.000101,0.005301,0.210490,0.546671,1.0
2,1000,100,0.000032,0.000096,0.001420,0.067825,0.177063,10.0
7,10000,1000,0.000170,0.000093,0.002702,0.212360,0.321947,10.0
1,1000,10,0.000032,0.000085,0.000911,0.040850,0.168093,100.0
6,10000,100,0.000155,0.000095,0.001293,0.083276,0.125327,100.0
11,100000,1000,0.001189,0.000057,0.002889,0.710959,0.358044,100.0
0,1000,1,0.000040,0.000052,0.000732,0.062896,0.186006,1000.0
5,10000,10,0.000109,0.000055,0.000604,0.084009,0.126221,1000.0
10,100000,100,0.001129,0.000052,0.000845,0.544421,0.112691,1000.0
15,1000000,1000,0.010286,0.000055,0.004317,6.023341,0.501882,1000.0
4,10000,1,0.000169,0.000099,0.000993,0.176808,0.133336,10000.0
9,100000,10,0.001107,0.000052,0.000907,0.623535,0.086154,10000.0
14,1000000,100,0.010543,0.000052,0.002283,5.037075,0.195465,10000.0
19,10000000,1000,0.105932,0.000053,0.016491,52.781272,1.269635,10000.0
8,100000,1,0.001088,0.000052,0.000659,1.593362,0.136986,100000.0
13,1000000,10,0.015112,0.000081,0.006750,5.976209,0.221253,100000.0
18,10000000,100,0.105586,0.000052,0.015407,50.612904,1.115031,100000.0
12,1000000,1,0.010229,0.000054,0.002332,15.484319,0.715648,1000000.0
17,10000000,10,0.106770,0.000053,0.038083,59.868727,1.640595,1000000.0
16,10000000,1,0.108715,0.000052,0.017387,156.140540,6.857753,10000000.0

### 2D Stacked Line Charts

In [137]:
fig, ax=plt.subplots(1, 2, sharey=True)
for each_column_ct in df['column_count'].unique(): 
    sub_df=df[df['column_count']==each_column_ct]
    ax[0].plot(np.log(sub_df['row_count']), 
               np.log(sub_df['pandas_df_compute']), label=each_column_ct)
for each_column_ct in df['column_count'].unique(): 
    sub_df=df[df['column_count']==each_column_ct]
    ax[1].plot(np.log(sub_df['row_count']), 
             np.log(sub_df['spark_df_compute']), label=each_column_ct)
plt.legend()

### 3D Scatter Plots

In [89]:
# %matplotlib notebook

fig=plt.figure()
ax=plt.axes(projection='3d')
ax.scatter3D(np.log(df['row_count']),
             np.log(df['column_count']), 
             np.log(df['pandas_df_compute']))
ax.scatter3D(np.log(df['row_count']),
             np.log(df['column_count']), 
             np.log(df['spark_df_compute']), 
             c='red')
# ax.scatter3D(df['row_count'],
#              df['column_count'], 
#              df['pandas_df_compute'])
ax.set_xlabel('row_count')
ax.set_ylabel('column_count')
ax.set_zlabel('df_compute')
# plt.show()

Text(0.5, 0, 'df_compute')

### 3D Surface Plots

#### Model to Draw Plane - Pandas

In [145]:
pandas_poly=PolynomialFeatures(degree=2)
pandas_x=np.log(df[['row_count', 'column_count']])
pandas_compute=np.log(df['pandas_df_compute'])
pandas_poly.fit(pandas_x)
transformed_pandas_x=pandas_poly.transform(pandas_x)

pandas_lr_poly=LinearRegression()
pandas_lr_poly.fit(transformed_pandas_x, pandas_compute)
display(pandas_lr_poly.score(transformed_pandas_x, pandas_compute))

# lr=LinearRegression()
# lr.fit(x, y)
# display(lr.score(x, y))
# display(lr.coef_)

pandas_results_poly=pandas_lr_poly.predict(transformed_pandas_x)
# results_lr=lr.predict(x)
pandas_results_df=pd.DataFrame({'y': pandas_compute, 
#                          'results_lr': results_lr, 
#                          'diff_lr': results-y, 
                         'results_poly': pandas_results_poly, 
                         'diff_poly': pandas_results_poly-pandas_compute})
# results_df

0.9125004025916743

#### Meshgrid for Plane - Pandas

In [146]:
# x_1=np.log(df['row_count'])
all_row_counts=df['row_count'].unique()
all_column_counts=df['column_count'].unique()
planes_count=10
# x_1=np.arange(4, 16, 2)
x_1=np.linspace(np.log(all_row_counts.min()), np.log(all_row_counts.max()), planes_count)
# x_2=np.log(df['column_count'])
# x_2=np.arange(0, 2.5, .5)
x_2=np.linspace(np.log(all_column_counts.min()), np.log(all_column_counts.max()), planes_count)
X_1, X_2=np.meshgrid(x_1, x_2)
r1, r2=X_1.flatten(), X_2.flatten()
r1, r2=r1.reshape(-1, 1), r2.reshape(-1, 1)
grid=np.hstack([r1, r2])

# z=lr.predict(grid)

transformed_grid=pandas_poly.transform(grid)
pandas_z=pandas_lr_poly.predict(transformed_grid)
pandas_Z=pandas_z.reshape(-1, planes_count)

#### Model to Draw Plane - Spark

In [147]:
spark_poly=PolynomialFeatures(degree=2)
spark_x=np.log(df[['row_count', 'column_count']])
spark_compute=np.log(df['spark_df_compute'])
spark_poly.fit(spark_x)
transformed_spark_x=spark_poly.transform(spark_x)

spark_lr_poly=LinearRegression()
spark_lr_poly.fit(transformed_spark_x, spark_compute)
display(spark_lr_poly.score(transformed_spark_x, spark_compute))

# lr=LinearRegression()
# lr.fit(x, y)
# display(lr.score(x, y))
# display(lr.coef_)

spark_results_poly=spark_lr_poly.predict(transformed_spark_x)
# results_lr=lr.predict(x)
spark_results_df=pd.DataFrame({'y': spark_compute, 
#                          'results_lr': results_lr, 
#                          'diff_lr': results-y, 
                         'results_poly': spark_results_poly, 
                         'diff_poly': spark_results_poly-spark_compute})
# results_df

0.9561327395845132

#### Meshgrid for Plane - Spark

In [148]:
# x_1=np.log(df['row_count'])
all_row_counts=df['row_count'].unique()
all_column_counts=df['column_count'].unique()
planes_count=10
# x_1=np.arange(4, 16, 2)
x_1=np.linspace(np.log(all_row_counts.min()), np.log(all_row_counts.max()), planes_count)
# x_2=np.log(df['column_count'])
# x_2=np.arange(0, 2.5, .5)
x_2=np.linspace(np.log(all_column_counts.min()), np.log(all_column_counts.max()), planes_count)
X_1, X_2=np.meshgrid(x_1, x_2)
r1, r2=X_1.flatten(), X_2.flatten()
r1, r2=r1.reshape(-1, 1), r2.reshape(-1, 1)
grid=np.hstack([r1, r2])

# z=lr.predict(grid)

transformed_grid=spark_poly.transform(grid)
spark_z=spark_lr_poly.predict(transformed_grid)
spark_Z=spark_z.reshape(-1, planes_count)

#### Plot

In [150]:
%matplotlib

fig=plt.figure()
ax=plt.axes(projection='3d')
ax.plot_surface(X_1,
                X_2, 
                spark_Z, 
                color='blue', 
                label='Spark DataFrame')
#                 cmap='blues')
ax.plot_surface(X_1,
                X_2, 
                pandas_Z, 
                color='red', 
                label='Pandas DataFrame')
#                 cmap='reds')

xlabels_exp=sorted(df['row_count'].unique())
xlabels_exp_red=[label for idx, label in enumerate(xlabels_exp) if idx%2==0]
xlabels=np.log(xlabels_exp_red)
ax.set_xlabel('row_count')
ax.set_xticks(xlabels)
ax.set_xticklabels(xlabels_exp_red)

ylabels_exp=sorted(df['column_count'].unique())
ylabels=np.log(ylabels_exp)
ax.set_ylabel('column_count')
ax.set_yticks(ylabels)
ax.set_yticklabels(ylabels_exp)

min_time=df[['spark_df_compute', 'pandas_df_compute']].min().min()
max_time=df[['spark_df_compute', 'pandas_df_compute']].max().max()
zlabels_log=np.linspace(np.log(min_time), np.log(max_time), 5)
zlabels=np.exp(zlabels_log)
ax.set_zlabel('compute_time')
ax.set_zticks(zlabels_log)
ax.set_zticklabels(zlabels.round(2))

ax.set_title('DataFrame Mean Computation Time (s)')

plt.legend()

# for ii in range(0,360,10):
#     ax.view_init(elev=10., azim=ii)
#     plt.savefig("movie/movie%d.png" % ii)

plt.show()

No handles with labels found to put in legend.

Using matplotlib backend: Qt5Agg